<%- include('header') -%>

<div class="body" style="padding: 20px;">
  <h4> Signup </h4>
</div>

<div class="container mb-3" style="background-color: rgb(227, 223, 223); padding: 30px; display: flex; flex-direction: column; align-items: center;">
  <div class="signup_form">
    <form action="/signup" method="POST" class="pt-3" enctype="application/x-www-form-urlencoded">
      <div class="form-outline mb-2">
        <input type="firstName" class="form-control" id="fname"  name="firstName">
        <label class="form-label" for="fname">First Name</label>
      </div>

      <div class="form-outline mb-2">
        <input type="lastName" class="form-control" id="lname" name="lastName">
        <label class="form-label" for="lname">Last Name</label>
      </div>

      <div class="form-outline mb-2">
        <input type="email" class="form-control" id="email" name="email">
        <label class="form-label" for="email">Email</label>
      </div>

      <div class="form-outline mb-2">
        <input type="password" class="form-control" id="password" name="password">
        <label class="form-label" for="password">Password</label>
      </div>

      <div class="form-outline mb-2">
        <input type="phoneNo" class="form-control" id="phoneNo" name="phoneNo">
        <label class="form-label" for="phoneNo">Phone Number</label>
      </div>

      <div class="form-outline mb-2">
        <input type="address" class="form-control" id="address" name="address">
        <label class="form-label" for="address">Address</label>
      </div>

      <div class="text-end mt-2 mb-4">
        <button type="submit" class="btn btn-success text-end rounded-pill">Submit</button>
      </div>
    </form>
  </div>
  
  <div class="login">
    <p>Already have an account? <a href="/login">Login here</a></p>
  </div>
</div>

<%- include('footer') -%>